<section class="px-content-header">
    <h1>My Classes</h1>
    <small>You can check your classes here.</small>
    <div class="operate">
        <button class="px-btn px-btn-default"
                (click)="getToday();dp.navigateTo()">今天
        </button>
        <button class="px-btn px-btn-default"
                (click)="getToday();dp.navigateTo()">今天
        </button>
        <button *ngIf="role==='1'"
                class="px-btn px-btn-default"
                (click)="gotoDetail()">学生详情
        </button>
    </div>
</section>

<section class="px-content">
    <div class="row">
        <div class="col-md-3">
            <div style="padding: 9px 0;"
                 *ngIf="role==='0'">
                <student-picker></student-picker>
            </div>
            <div style="height: 54px;"
                 *ngIf="role==='1'"></div>
            <div class="date">
                <ngb-datepicker #dp
                                [(ngModel)]="currentDate"
                                (ngModelChange)="dateChange($event)"></ngb-datepicker>
            </div>
            <div style="height: 9px;"></div>
            <div style="position: relative"
                 *ngIf="role==='0'">
                <div class="px-timepicker"
                     style="display: inline-block">
                    <ngb-timepicker [(ngModel)]="currentTime"></ngb-timepicker>
                </div>
                <button class="px-btn px-btn-success create"
                        style="position: absolute;top:20px;margin-left: 13px;width: 130px;"
                        (click)="add()">添加课程
                </button>
            </div>
        </div>
        <div class="class-table-wrapper col-md-9">
            <div style="height: 19px;"></div>
            <table class="class-table">
                <thead>
                <tr>
                    <th></th>
                    <th *ngFor="let day of weekdays; let i = index">
                        {{day}} {{setDate(i + 1)}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let clock of clocks">
                    <td>{{clock}}</td>
                    <td *ngFor="let day of weekdays; let i = index"
                        [ngClass]="setDayClass(i + 1)">
                        <div *ngFor="let l of classData[(i + 1) + '-' + clock]"
                             class="class-label-wrapper">
                            <label class="label"
                                   [style.background-color]="l.color"
                                   (click)="del((i + 1) + '-' + clock, l)">{{l.show}}</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="px-alert px-alert-attention"
     *ngIf="isShowAttention">
    <a role="button"
       class="px-alert-close"
       (click)="isShowAttention = false"></a>
    <b>警告！</b>{{attentionMsg}}
</div>

<div class="px-alert px-alert-success"
     *ngIf="isShowSuccess">
    <b>成功！</b>{{successMsg}}
</div>

<template #modal1_template>
    <div class="px-modal-header">
        <h4>删除</h4>
        <a role="button"
           (click)="modal1.close()"></a>
    </div>
    <div class="px-modal-body">
        <div class="px-modal-confirm">
            <img src="../../../public/images/modal_confirm.svg">
            <h5>确认删除数据吗？</h5>
            <small>删除后数据将丢失，不可恢复</small>
        </div>
    </div>
    <div class="px-modal-footer">
        <button class="px-btn px-btn-delete"
                (click)="gotoDel()">删除
        </button>
        <button class="px-btn px-btn-cancel"
                (click)="modal1.close()">关闭
        </button>
    </div>
</template>