<section class="px-content-header">
    <h1>My Classes</h1>
    <small>You can check your classes here.</small>
    <div class="operate">
        <button class="px-btn px-btn-default"
                (click)="getNow();dp.navigateTo()">今天
        </button>
    </div>
</section>

<section class="px-content">
    <div class="row">
        <div class="col-md-3">
            <div style="padding: 9px 0;">
                <div ngbDropdown
                     class="px-select student-picker">
                    <input ngbDropdownToggle
                           [(ngModel)]="grade"
                           readonly
                           placeholder="请选择">
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-menu">
                        <button (click)="grade = '一年级'">一年级</button>
                        <button (click)="grade = '二年级'">二年级</button>
                        <button (click)="grade = '三年级'">三年级</button>
                        <button (click)="grade = '四年级'">四年级</button>
                        <button (click)="grade = '五年级'">五年级</button>
                        <button (click)="grade = '六年级'">六年级</button>
                        <button (click)="grade = '初一'">初一</button>
                        <button (click)="grade = '初二'">初二</button>
                        <button (click)="grade = '初三'">初三</button>
                        <button (click)="grade = '高一'">高一</button>
                        <button (click)="grade = '高二'">高二</button>
                        <button (click)="grade = '高三'">高三</button>
                        <button (click)="grade = '其他'">其他</button>
                    </div>
                </div>
            </div>
            <div class="date">
                <ngb-datepicker #dp
                                [(ngModel)]="currentDate"
                                (ngModelChange)="dateChange($event)"></ngb-datepicker>
            </div>
        </div>
        <div class="class-table-wrapper col-md-9">
            <div style="height: 19px;"></div>
            <table class="class-table">
                <thead>
                <tr>
                    <th></th>
                    <th *ngFor="let day of weekdays; let i = index">
                        {{day}} {{setDate(i + 1)}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let clock of clocks">
                    <td>{{clock}}</td>
                    <td *ngFor="let day of weekdays; let i = index"
                        [ngClass]="setDayClass(i + 1)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>