/*****************************/
/* content
/****************************/
.px-content-wrapper {
    width: 1190px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

@media (max-width: 767px) {
    .px-content-wrapper {
        margin-left: 0;
    }
}

.px-sidebar-collapsed-content {
    margin-left: 0;
}

.px-content-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    padding-left: 40px;
    height: 110px;
}

.px-content-header h1 {
    font-size: 24px;
    position: absolute;
    top: 50px;
    color: #4d5761;
}

.px-content-header small {
    font-size: 12px;
    position: absolute;
    top: 86px;
    color: #7c868d;
}

.px-content {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 0;
}

.px-content h2 {
    font-size: 18px;
    color: #4d5761;
    padding: 20px 0;
}

.px-content p {
    font-size: 14px;
}

.px-pre {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px;
    width: 80%;
    overflow: auto !important;
    border-radius: 4px;
    word-break: break-all;
    word-wrap: break-word;
}

.a-btn-code-example {
    color: #7c868d;
    font-size: 12px;
}

.a-btn-code-example:hover,
.a-btn-code-example:focus {
    color: #00abff;
}