/*****************************/
/* input
/****************************/
.px-input {
    outline: none;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 14px;
    color: #4d5761;
}

.px-input.ng-invalid.ng-dirty {
    border-color: #ff5b55;
}

.px-input.lg {
    width: 400px;
}

.px-input:focus {
    border-color: #3fb3ff;
}

.px-input.sm {
    width: 190px;
}

.px-input:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

.px-input-wrapper {
    margin-bottom: 30px;
    max-width: 400px;
}

.px-input-wrapper span.validation {
    display: block;
    padding: 5px 0 0 10px;
    font-size: 12px;
    position: absolute;
    color: #ff5b55;
}

.px-input-wrapper span.notes {
    display: block;
    padding: 5px 0 0 10px;
    font-size: 12px;
    position: absolute;
    color: #7c868d;
}

.px-input.addon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.px-input.lg.addon {
    width: 360px;
}

.px-input.sm.addon {
    width: 150px;
}

.px-input.sm.addon + span.addon {
    margin-right: 210px;
}

.px-input-wrapper span.addon {
    width: 40px;
    height: 36px;
    text-align: center;
    color: #c2c6c9;
    font-size: 14px;
    padding: 11px 0;
    float: right;
    border: 1px solid #ddd;
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.px-input.addon:focus + span.addon {
    border-color: #3fb3ff;
}

.px-input.addon.ng-invalid.ng-dirty + span.addon {
    border-color: #ff5b55;
}

.px-input-wrapper i.link {
    font-size: 12px;
    color: #ddd;
    padding: 0 8px 0 7px;
}