/*****************************/
/* login
/****************************/
.login-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../../public/images/login_bg.jpg) no-repeat fixed center center;
}

.login-box {
    width: 380px;
    margin: 0 auto;
    margin-top: 150px;
    border: 1px solid #ccc;
    padding: 50px 0;
    border-radius: 3px;
}

.login-logo h1 {
    text-align: center;
    color: red;
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 40px;
}

.login-form {
    text-align: center;
}

.login-form .px-btn-primary {
    width: 320px;
}