/*****************************/
/* progress
/****************************/
.progress {
    width: 200px;
    height: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.progress[value] {
    color: #00abff;
}

.progress[value]::-webkit-progress-bar {
    background-color: #f2f2f2;
}

.progress[value]::-webkit-progress-value {
    background-color: #00abff;
}

.progress.progress-success[value] {
    color: #73cf22;
}

.progress.progress-success[value]::-webkit-progress-bar {
    background-color: #f2f2f2;
}

.progress.progress-success[value]::-webkit-progress-value {
    background-color: #73cf22;
}

.progress.progress-attention[value] {
    color: #f7c515;
}

.progress.progress-attention[value]::-webkit-progress-bar {
    background-color: #f2f2f2;
}

.progress.progress-attention[value]::-webkit-progress-value {
    background-color: #f7c515;
}

.progress.progress-alarm[value] {
    color: #ff625d;
}

.progress.progress-alarm[value]::-webkit-progress-bar {
    background-color: #f2f2f2;
}

.progress.progress-alarm[value]::-webkit-progress-value {
    background-color: #ff625d;
}

.progress-table {
    width: 80px;
    height: 8px;
}