/*****************************/
/* radio
/****************************/
.px-radio {
    display: none;
}

.px-radio-wrapper {
    margin-bottom: 20px;
}

.px-radio-wrapper span {
    font-size: 14px;
    color: #7c868d;
    cursor: pointer;
    padding-left: 22px;
    background: url("../../images/icon_radio_disabled.png") no-repeat left;
}

.px-radio-group .px-radio-wrapper:not(:first-child){
    margin-left: 20px;
}

.px-radio-wrapper span:hover {
    background: url("../../images/icon_radio_normal.png") no-repeat left;
}

.px-radio:checked + span {
    background: url("../../images/icon_radio_selected.png") no-repeat left;
    color: #4d5761;
}

.px-radio:disabled + span,
.px-radio:disabled + span:hover {
    cursor: not-allowed;
    background: url("../../images/icon_radio_disabled.png") no-repeat left;
    color: #c2c6c9;
}

.px-radio:checked:disabled + span,
.px-radio:checked:disabled + span:hover {
    cursor: not-allowed;
    background: url("../../images/icon_radio_selected.png") no-repeat left;
    color: #4d5761;
}