/*****************************/
/* sidebar
/****************************/
.px-sidebar-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 50px;
    z-index: 1030;
    width: 200px;
    overflow: hidden;
}

.px-sidebar {
    position: relative;
    background-color: #f7f8f9;
    width: 217px;
    height: 100%;
    padding-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.px-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.px-sidebar-menu li {
    position: relative;
    margin: 0;
    padding: 0;
}

.px-sidebar-menu li a {
    position: relative;
    padding: 18px 5px 18px 20px;
    display: block;
    color: #4d5761;
    font-weight: normal;
    border-left: 4px solid transparent;
    font-size: 14px;
}

.px-sidebar-menu li a .fa {
    width: 20px;
}

.px-sidebar-menu li:hover a {
    background: #eef0f5;
}

.px-sidebar-menu li.active a {
    color: #00abff;
    border-left-color: #00abff;
    background: #fff;
    font-weight: normal;
}

.px-sidebar-collapsed {
    width: 0;
}

.px-sidebar-is-visible {
    display: block !important;
}

@media (max-width: 767px) {
    .px-sidebar-wrapper {
        width: 100%;
        display: none;
    }

    .px-sidebar {
        width: 100%;
    }
}

.px-sidebar-toggle {
    position: fixed;
    top: 18px;
    right: 12px;
    z-index: 1031;
    font-size: 14px;
}

.px-sidebar-toggle i {
    color: #fff;
}