/*****************************/
/* input
/****************************/
.px-table-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.px-table-wrapper .toolbar {
    height: 54px;
    padding-top: 9px;
}

.px-table-wrapper .toolbar button {
    float: left;
}

.px-table-wrapper .toolbar .search-wrapper {
    float: right;
    position: relative;
}

.px-table-wrapper .toolbar input.search {
    height: 36px;
    width: 210px;
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 26px;
    font-size: 14px;
    color: #4d5761;
    border-radius: 2px;
    outline: none;
}

.px-table-wrapper .toolbar input.search:focus {
    border-color: #3fb3ff;
}

.px-table-wrapper .toolbar .search-addon {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
}

.px-table {
    clear: both;
    min-width: 744px;
    width: 100%;
}

.px-table tbody td, .px-table thead th {
    text-align: left;
    padding-left: 20px;
    line-height: 1;
    vertical-align: middle;
}

.px-table thead th {
    font-size: 14px;
    color: #4d5761;
    font-weight: normal;
    height: 45px;
    background: #f8f8f8;
    border-top-color: #e6e6e6;
    border-bottom-color: #e6e6e6;
    border-right-color: #f2f2f2;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}

.px-table thead th:first-child,
 .px-table tbody td:first-child {
     width: 40px;
     text-align: center;
     padding: 0;
 }

.px-table thead th:nth-child(2),
.px-table tbody td:nth-child(2) {
    width: 50px;
    text-align: center;
    padding: 0;
}

.px-table.no-checkbox thead th:first-child,
.px-table.no-checkbox tbody td:first-child {
    width: 50px;
    text-align: center;
    padding: 0;
}

.px-table.no-checkbox thead th:nth-child(2),
.px-table.no-checkbox tbody td:nth-child(2) {
    width: auto;
    text-align: left;
    padding-left: 20px;
}

.px-table thead tr th:last-child {
    border-right: 0;
}

.px-table tbody tr:last-child td {
    border-bottom-color: #e6e6e6;
}

.px-table tbody td {
    font-size: 14px;
    color: #7c868d;
    height: 45px;
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 0 1px 1px 0;
}

.px-table tbody tr:hover td {
    border-color: #c9e6f2;
}

.px-table tbody tr td:last-child {
    border-right: 0;
}

.px-table tbody tr:hover {
    background-color: #e7f6ff;
}

.px-table-link {
    color: #00abff;
}

.px-table-link:hover,
.px-table-link:focus {
    color: #00abff;
    text-decoration: underline;
}

.px-table-operate {
    font-size: 0 !important;
}

.px-table-operate button:not(:first-child) {
    margin-left: 10px;
}

.px-pagination-wrapper {
    float: right;
    margin-top: 10px;
}

.px-pagination-info {
    font-size: 14px;
    color: #4d5761;
    float: left;
}

.px-pagination-info div {
    display: inline-block;
    padding-top: 7px;
}

.px-pagination-info div:first-child {
    margin-right: 10px;
}

.px-pagination-info div:last-child {
    color: #7c868d;
}

.px-pagination {
    color: #7c868d;
    float: left;
}

.px-pagination button {
    font-size: 14px;
    color: #7c868d;
    background: #fff;
    padding: 0 12px;
    border: 1px solid #ddd;
    height: 28px;
    border-radius: 2px;
    margin: 0 6px;
}

.px-pagination button:hover,
.px-pagination button:focus {
    color: #4d5761;
    background: #fff;
}

.px-pagination button:disabled {
    cursor: not-allowed;
}

.px-pagination input {
    outline: none;
    border-radius: 2px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #7c868d;
    width: 40px;
    height: 28px;
    text-align: center;
}

.px-pagination input:focus {
    border-color: #3fb3ff;
}

.px-pagination input + span {
    font-size: 14px;
    padding-left: 4px;
    padding-right: 6px;
}

.tfoot-operate-wrapper {
    float: left;
    margin-top: 10px;
}

.tfoot-operate-check {
    float: left;
    padding-top: 6px;
    margin-left: 12px;
}

.tfoot-operate-buttons {
    margin-left: 20px;
    float: left;
}

.tfoot-operate-buttons button:not(:first-child) {
    margin-left: 10px;
}