<aside class="px-sidebar-wrapper"
       [class.px-sidebar-is-visible]="isVisible"
       [class.px-sidebar-collapsed]="isCollapsed">
  <div class="px-sidebar">
    <ul class="px-sidebar-menu">
      <li routerLinkActive="active">
        <a role="button" routerLink="/main/class">
          <i class="fa fa-circle-o"></i>
          <span>Class</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="px-sidebar-toggle hidden-md-up">
  <a role="button" (click)="isVisible = !isVisible"><i class="fa fa-bars"></i></a>
</div>