<section class="px-content-header">
    <h1>Students</h1>
    <small>
        All Students here.
    </small>
</section>

<section class="px-content">
    <div class="px-table-wrapper">
        <div class="toolbar">
            <button class="px-btn px-btn-success create"
                    (click)="add()">添加新学生
            </button>
            <div class="search-wrapper">
                <input class="search"
                       placeholder="输入关键字筛选"
                       [(ngModel)]="searchKeyword"
                       (ngModelChange)="search($event)">
                <span class="search-addon">
                    <a role="button">
                        <img src="../../../public/images/icon_search_mirror.png">
                    </a>
                </span>
            </div>
        </div>
        <table class="px-table">
            <thead>
            <tr>
                <th><input type="checkbox"
                           #ca1
                           class="px-checkbox"
                           [checked]="isCheckAll"
                           (change)="checkAll(ca1.checked)"></th>
                <th>序号</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年级</th>
                <th>状态</th>
                <th>最后登录时间</th>
                <th style="width: 200px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of currentPageData;let i=index">
                <td><input type="checkbox"
                           class="px-checkbox"
                           [checked]="isCheckAll"
                           #cb
                           (change)="check(i, cb.checked)"></td>
                <td>{{data.i + 1}}</td>
                <td><a role="button"
                       class="px-table-link"
                       (click)="gotoDetail(data)">{{data.username}}</a></td>
                <td>{{data.name}}</td>
                <td>{{data.sex}}</td>
                <td>{{data.grade}}</td>
                <td>
                    <span *ngIf="data.status===1">
                        <i class="fa fa-unlock fa-fw"
                           style="color: #73cf22"></i>激活</span>
                    <span *ngIf="data.status===0">
                        <i class="fa fa-lock fa-fw"
                           style="color: #ff625d"></i>锁定</span>
                </td>
                <td>{{data.lastLogTime}}</td>
                <td class="px-table-operate">
                    <button class="px-btn px-btn-operate"
                            [disabled]="data['student_id'] === null"
                            (click)="edit(data)">编辑
                    </button>
                    <button class="px-btn px-btn-operate"
                            (click)="del(data)">删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="tfoot">
            <div class="tfoot-operate-wrapper">
                <div class="tfoot-operate-check">
                    <label class="px-checkbox-wrapper">
                        <input type="checkbox"
                               #ca
                               class="px-checkbox"
                               [checked]="isCheckAll"
                               (change)="checkAll(ca.checked)">
                        <span>全选</span>
                    </label>
                </div>
                <div class="tfoot-operate-buttons">
                    <button class="px-btn px-btn-operate"
                            [disabled]="!selections.length > 0"
                            (click)="unlock()">激活
                    </button>
                    <button class="px-btn px-btn-operate"
                            [disabled]="!selections.length > 0"
                            (click)="lock()">锁定
                    </button>
                    <button class="px-btn px-btn-operate"
                            [disabled]="!selections.length > 0"
                            (click)="batchDel()">删除
                    </button>
                </div>
            </div>
            <div class="px-pagination-wrapper">
                <div class="px-pagination-info">
                    <div>共{{size}}条</div>
                    <div>每页{{pageSize}}条</div>
                </div>
                <div class="px-pagination">
                    <button role="button"
                            [disabled]="currentPage===1"
                            (click)="pageChange(currentPage-1)"><i class="fa fa-angle-left"></i></button>
                    <input [(ngModel)]="currentPage"
                           (ngModelChange)="pageChange($event)"><span>/{{pageNum}}</span>
                    <button role="button"
                            (click)="pageChange(currentPage+1)"
                            [disabled]="currentPage===pageNum"><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="px-alert px-alert-success"
     *ngIf="isShowSuccess">
    <b>成功！</b>{{successMsg}}
</div>

<div class="px-alert px-alert-alarm"
     *ngIf="isShowAlarm">
    <a role="button"
       class="px-alert-close"
       (click)="isShowAlarm = false"></a>
    <b>错误！</b>{{alarmMsg}}
</div>

<template #modal1_template>
    <div class="px-modal-header">
        <h4>删除</h4>
        <a role="button"
           (click)="modal1.close()"></a>
    </div>
    <div class="px-modal-body">
        <div class="px-modal-confirm">
            <img src="../../../public/images/modal_confirm.svg">
            <h5>确认删除数据吗？</h5>
            <small>删除后数据将丢失，不可恢复</small>
        </div>
    </div>
    <div class="px-modal-footer">
        <button class="px-btn px-btn-delete"
                (click)="gotoDel()">删除
        </button>
        <button class="px-btn px-btn-cancel"
                (click)="modal1.close()">关闭
        </button>
    </div>
</template>

<template #modal2_template>
    <div class="px-modal-header">
        <h4>确认</h4>
        <a role="button"
           (click)="modal2.close()"></a>
    </div>
    <div class="px-modal-body">
        <div class="px-modal-confirm">
            <img src="../../../public/images/modal_confirm.svg">
            <h5>确认提交吗？</h5>
            <small>提交后可以查看提交数据</small>
        </div>
    </div>
    <div class="px-modal-footer">
        <button class="px-btn px-btn-primary"
                (click)="gotoChangeStatus()">确认
        </button>
        <button class="px-btn px-btn-cancel"
                (click)="modal2.close()">关闭
        </button>
    </div>
</template>