<section class="px-content-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a role="button"
                                       routerLink="/main/student">学生列表</a></li>
        <li class="breadcrumb-item">{{currentData.name}}</li>
    </ol>
    <h1>{{currentData.name}}</h1>
    <small>
        查看学生详细信息，上课情况
    </small>
    <div class="operate">
        <button class="px-btn px-btn-default"
                (click)="gotoEdit()">编辑
        </button>
    </div>
</section>

<section class="px-content">
    <div class="h-20"></div>
    <table class="px-description-list">
        <tbody>
        <tr>
            <td>姓名</td>
            <td>{{currentData.name}}</td>
        </tr>
        <tr>
            <td>性别</td>
            <td>{{currentData.sex}}</td>
        </tr>
        <tr>
            <td>年级</td>
            <td>{{currentData.grade}}</td>
        </tr>
        <tr>
            <td>出生日期</td>
            <td>{{currentData.birthday}}</td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td>{{currentData.email}}</td>
        </tr>
        <tr>
            <td>学生电话</td>
            <td>{{currentData.phone}}</td>
        </tr>
        <tr>
            <td>家长电话</td>
            <td>{{currentData['parent_phone']}}</td>
        </tr>
        </tbody>
    </table>
</section>