<section class="px-content-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a role="button"
                                       routerLink="/main/student">学生列表</a></li>
        <li class="breadcrumb-item">添加新学生</li>
    </ol>
    <h1>添加新学生</h1>
    <small>
        添加一名新学生，填写必要的信息
    </small>
</section>

<section class="px-content">
    <div class="h-20"></div>
    <form class="px-form"
          #addForm="ngForm"
          novalidate>
        <div class="px-form-control">
            <label for="input1">用户名</label>
            <div class="px-input-wrapper">
                <input class="px-input lg"
                       id="input1"
                       required
                       pattern="^[a-zA-Z0-9_]+$"
                       #input1="ngModel"
                       [(ngModel)]="username"
                       name="username">
                <span class="notes"
                      *ngIf="!input1.errors || input1.pristine">只能为字母、数字和下划线</span>
                <span class="validation"
                      *ngIf="input1.errors?.required && !input1.pristine">用户名不能为空</span>
                <span class="validation"
                      *ngIf="input1.errors?.pattern && !isUsernameUsed">用户名只能为字母、数字和下划线</span>
                <span class="validation"
                      *ngIf="isUsernameUsed">此用户名已经被占用</span>
            </div>
        </div>
        <div class="px-form-control">
            <label for="input2">密码</label>
            <div class="px-input-wrapper">
                <input class="px-input lg"
                       required
                       type="password"
                       id="input2"
                       #input2="ngModel"
                       [(ngModel)]="password"
                       name="password"
                       placeholder="密码">
                        <span class="validation"
                              *ngIf="input2.errors?.required && !input2.pristine">密码不能为空</span>
            </div>
        </div>
        <div class="px-form-control">
            <label for="input3">确认密码</label>
            <div class="px-input-wrapper">
                <input class="px-input lg"
                       required
                       id="input3"
                       type="password"
                       #input3="ngModel"
                       [(ngModel)]="confirmPassword"
                       name="confirmPassword"
                       placeholder="确认密码">
                        <span class="validation"
                              *ngIf="input3.errors?.required && !input3.pristine">确认密码不能为空</span>
                        <span class="validation"
                              *ngIf="!input3.errors?.required && input3.value !== input2.value">两次密码不一致</span>
            </div>
        </div>
    </form>
    <div class="px-form-buttons">
        <button class="px-btn px-btn-primary"
                [disabled]="!addForm.form.valid || input3.value !== input2.value || isUsernameUsed">提交
        </button>
        <button class="px-btn px-btn-cancel"
                (click)="cancel()">取消
        </button>
    </div>
</section>