<header class="px-header">
  <div class="px-header-container">
    <a role="button" class="logo-mini hidden-md-up" routerLink="/main">
    <span>
      VS
    </span>
    </a>
    <a role="button" class="logo-lg hidden-sm-down" routerLink="/main">
    <span>
      VENUS
    </span>
    </a>

    <nav class="px-navbar">
      <a class="px-navbar-link" role="button" style="padding: 15px 14px;">
        <img src="../../../../public/images/nav_icon_menu_top.png">
      </a>
      <a class="px-navbar-link" role="button" (click)="open1()">
        Contact Me
      </a>
      <div class="pull-right"
           (mouseover)="user.style.display = 'block'"
           (mouseout)="user.style.display = 'none'"
           ngbDropdown>
        <a class="px-navbar-link" role="button" ngbDropdownToggle>
          <i class="fa fa-user-o fa-fw"></i>
          <span class="hidden-sm-down">{{username}}</span>
        </a>
        <div #user class="dropdown-menu user-dropdown-menu">
          <a role="button">修改密码</a>
          <a role="button" (click)="logout()">退出</a>
        </div>
      </div>
    </nav>
  </div>
</header>

<template #modal1_template>
  <div class="px-modal-header">
    <h4>Contact Me</h4>
    <a role="button" (click)="modal1.close()"></a>
  </div>
  <div class="px-modal-body">
    <div style="font-size: 20px; padding-top: 50px">
      Teacher Han's Tel: 15996262082
    </div>
  </div>
  <div class="px-modal-footer">
    <button class="px-btn px-btn-primary">OK</button>
    <button class="px-btn px-btn-cancel" (click)="modal1.close()">Close</button>
  </div>
</template>