<header class="px-header">
  <div class="px-header-container">
    <a role="button" class="logo-mini hidden-md-up" routerLink="/main">
    <span>
      VS
    </span>
    </a>
    <a role="button" class="logo-lg hidden-sm-down" routerLink="/main">
    <span>
      VENUS
    </span>
    </a>

    <nav class="px-navbar">
      <a class="px-navbar-link" role="button" style="padding: 15px 14px;">
        <img src="../../../../public/images/nav_icon_menu_top.png">
      </a>
      <a class="px-navbar-link" role="button">
        Contact Me
      </a>
      <div class="pull-right"
           (mouseover)="user.style.display = 'block'"
           (mouseout)="user.style.display = 'none'"
           ngbDropdown>
        <a class="px-navbar-link" role="button" ngbDropdownToggle>
          <i class="fa fa-user-o fa-fw"></i>
          <span class="hidden-sm-down">{{username}}</span>
        </a>
        <div #user class="dropdown-menu user-dropdown-menu">
          <button class="px-btn px-btn-default">修改密码</button>
          <button class="px-btn px-btn-delete" (click)="logout()">退出</button>
        </div>
      </div>
    </nav>
  </div>
</header>